<main class="main-body">
  <app-sidebar class="sidebar-com"></app-sidebar>
  <div class="content-body">
    <app-navbar class="navbar-com"></app-navbar>
      <router-outlet></router-outlet>      
  </div>
</main>