.box-profile{
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: relative;
}

.pic-bg-profile {
    height: 257px;
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.pic-bg-profile img{
    width: 100%;
}

.link-profile {
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}


.link-profile ul{
    display: flex;
    margin-bottom: 0;
}
.link-profile ul li{
    position: relative;
}
.link-profile ul li.active::after,.link-profile ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background:#ff5722;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
}

.link-profile ul li a{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    text-align: center;
    color: #000000;
    padding: 15px 25px;
    display: block;
}


.setting-link {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: right;
    color: #ff5722;
  }

  .setting-link a{
    padding: 10px;
  }

  .setting-link a i{
    vertical-align: middle;
    filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
  }

  .acc-profile {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;
}