<div class="box-profile">
    <!-- image -->
    <div class="pic-bg-profile">
        <picture>
            <source media="(min-width:1024px)" srcset="./assets/img/1321.jpg">
            <source media="(min-width:992px)" srcset="./assets/img/1321@2x.jpg">
            <source media="(min-width:575px)" srcset="./assets/img/1321@3x.jpg">
            <img alt="" src="./assets/img/1321.jpg"/>
        </picture>
    </div>
    <div class="link-profile">
        <app-account-profile class="acc-profile"></app-account-profile>
        <div class="row pl-5">
            <div class="col-6">
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/my-information">{{"MYINFORMATION" | translate}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/account/my-account">{{"MYACCOUNT" | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <div class="setting-link">
                    <a>
                        <img src="./assets/img/setting.png">
                        {{"SETTING" | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
