.sidebar-box {
    display: block;
    position: fixed;
    top: 0;
    z-index: 3;
    outline: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    width: 280px;
    background:#141924;
    transition: 0.5s all;
}

.sidebar-toolbar {
    align-items: center;
    background:#171d29;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    width: 100%;
}

.logo-box {
    display: flex;
} 

.sidebar-toolbar img{
   width: 24px;
   display: block;
   margin-right: 15px;
}

.sidebar-toolbar h2{
    font: 500 18px;
    color: #ffffff;
 }

/* list menu side bar */
.list-menu-sidebar {
    height: calc(100% - 66.4px);
    overflow-y: auto;
    padding: 25px 0;
}

.list-menu-sidebar ul {
    padding: 0;
}

.list-menu-sidebar ul li:hover,.dash-title-link:hover{
    background:#0a1223;
}

.list-menu-sidebar li a,.dash-title-link a{
    color:#a1a2b6;
    padding:10px 25px;
    display: block;
}

.list-menu-sidebar  li:hover > a,.dash-title-link:hover a{
    color:#ffffff;
}

.list-menu-sidebar li a i,.dash-title-link a i {
    font-size: 24px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
    filter: invert(0.3) sepia(0.8)  saturate(3) hue-rotate(180deg); 
}
.list-menu-sidebar  ul > li:hover a i,.dash-title-link:hover a i {
    filter: invert(0.5) sepia(1)  saturate(1) hue-rotate(180deg); 
}


.title-group-sidebar {
    color: #a1a2b6;
    font-size: 13px;
    margin-top: 15px;
    padding: 10px 25px 0;
    text-transform: uppercase;
    white-space: nowrap;
}


@media only screen and (max-width:992px){
    .sidebar-box{
        left:-150%;
    }
    .sidebar-box.active {
        left: 0;
    }

    .btn-hide-sidebar {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
    }
    .btn-hide-sidebar i {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
    }

    .btn-hide-sidebar i::after,.btn-hide-sidebar i::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        background: #ffffff;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .btn-hide-sidebar i::after {
        transform: rotate(-45deg);
    }

    .btn-hide-sidebar i::before {
        transform: rotate(45deg);
    }
}