<div class="sidebar-box" [ngClass]="{'active': coreService.navbarOpen}">
    <div class="sidebar-toolbar">
        <div class="logo-box">
            <img src="./assets/img/logo.svg"/>
            <h2 title="Vex">Vex</h2>
        </div>
        <span class="btn-hide-sidebar" (click)="coreService.sidebarHide()">
            <i></i>
        </span>
    </div>
    <div class="list-menu-sidebar">
        <div class="dash-title-link">
            <a routerLink="/">
                <i class="material-icons-two-tone">layers</i>
                {{"DASHBOARD" | translate}}
            </a>
        </div>
        <div class="menu-sidebar">
            <div class="title-group-sidebar">
                Apps
            </div>
            <ul>
                    <li>
                        <a routerLink="/account">
                            <i class="material-icons-two-tone">assignment</i>
                            {{"ALLINONETABLE" | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons-two-tone">contact_support</i>
                            {{"HELPCENTER" | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons-two-tone">date_range</i>
                            {{"CALENDAR" | translate}}
                        </a>
                </li>
                <li>
                    <a>
                        <i class="material-icons-two-tone">chat</i>
                        {{"CHAT" | translate}}
                    </a>
                </li>
                <li>
                    <a>
                        <i class="material-icons-two-tone">mail</i>
                        {{"MAILBOX" | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>