
<div class="traiding-form-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="col-12">
                <div class="form-traiding">
                    <app-traiding-crud></app-traiding-crud>
                </div>
            </div>
        </div>
    </div>
</div>
