<div class="navbar-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="btns-link-nav">
                    <span class="btn-res-sidebar" (click)="coreService.sidebarShow()">
                        <i class="material-icons-two-tone">menu</i>
                    </span>
                    <a class="btn btn-primary"
                    [routerLink]="['/account']"
                    translate>ADDNEW</a>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" appDropdown>
                            {{"MEGAMENU" | translate}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="acc-lang-nav">
                    <ul>
                        <li>
                            <i class="material-icons-two-tone">search</i>
                        </li>
                        <li>
                            <i class="material-icons-two-tone">notifications_active</i>
                        </li>
                        <li>
                            <i class="material-icons-two-tone">bookmarks</i>
                        </li>
                    </ul>
                    <app-language></app-language>
                    <app-account-menu></app-account-menu>
                </div>
            </div>
        </div>
    </div>
</div>
