.navbar-box{
    background: #ffffff;
    border-bottom:1px solid #d8d8d8 ;
}

.show {
  display: block;
}

/* left nav */
.btns-link-nav{
    display: flex;
    padding: 5px 10px;
}

.btns-link-nav > *{
    margin-right: 10px;
}

span.btn-res-sidebar {
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    filter: invert(0.4) sepia(3)  saturate(6) hue-rotate(180deg);
}

@media only screen and (max-width:991px){
    span.btn-res-sidebar {
        display: flex;
    }
}


/* right nav */

.acc-lang-nav{
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
}

.acc-lang-nav > ul{
 display: flex;
 margin-bottom: 0;
}

.acc-lang-nav > ul > li{
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    filter: invert(0.4) sepia(3)  saturate(6) hue-rotate(180deg);
}