<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title-page">{{"TRAIDING" | translate}}</h1>
            <ul class="bread-crumb">
                <li>
                    <a routerLink=''>
                        <i class="material-icons-two-tone">home</i>
                    </a>
                </li>
                <li>
                    <a>
                        {{"APPS" | translate}}
                    </a>
                </li>
                <li>
                    <a>
                        {{"ALLINONETABLE" | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
