.bread-crumb {
    display: flex;
    padding-left: 0;
}

.bread-crumb li{
    position: relative;
    padding: 5px 17px;
}

.bread-crumb li:first-child{
    padding-left: 0;
}

.bread-crumb li::after{
    content: '';
    width: 6px;
    height: 6px;
    background: #777777;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
}


.bread-crumb li:last-child::after{
    display: none;
}

.bread-crumb li a{
  color: #ffffff !important;
}

.bread-crumb li a i{
  filter: invert(1) sepia(1) saturate(1) hue-rotate(180deg);
}
