/* fallback */
@font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconstwotone/v25/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format('woff2');
  }
  
  .material-icons-two-tone {
    font-family: 'Material Icons Two Tone';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    /* -webkit-font-smoothing: antialiased; */
  }


  /* ======= */
body{
  margin: 0;
  padding:0;
}

ul,ol{
  list-style: none;
}

a:hover{
  text-decoration: none;
}
button,a{
  cursor: pointer;
}

button,button:focus,a:focus,input:focus{
  box-shadow: none !important;
  outline: none;
}

/* content style */

.content-body {
  width: calc(100% - 280px);
  margin-left: 280px;
}

/* dropdown */

.show>.dropdown-menu {
  display: block;
}

/* title page */
h1.title-page {
  color: #fff;
  font-size: 16px;
  padding: 1.5em 0;
  margin-bottom: 0;
}

/* traiding-form-page */

.traiding-form-page{
  background: linear-gradient( #ff5722 0%,#ff5722 0%,#ff5722 27%,#ff5722 27%,#f5f5f5 27%,#f5f5f5 27%,#f5f5f5 100%,#f5f5f5 100%);
}


/* alert */



.alert-primary {
  color: #444444 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important;
  border-left: 5px solid #039be5 !important;
}

.alert-warning {
 color: #444444 !important;
 background-color: #fff3cd !important;
 border-color: #fff3cd !important;
 border-left: 5px solid #ffd141 !important;
}


/* btn */
.btn{
  padding: 5px 1.5rem;
  cursor: pointer;
}

.btn-orange{
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}


/* dropdown */

.dropdown-menu {
  right: 0;
  left: auto;
}

/* style scroll */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px solid slategrey;
  border-radius: 9px;
}


/* form*/

.title-box h2{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  padding: 24px 30px;
}

.form-traiding-crud{
  display: block;
  width: 70%;
  margin: 3em auto;
  padding: 0 0 3em 0;
}


input.form-control{
  height: 60px;
  background-color: rgba(0, 0, 0, 0.04);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border:none;
  border-bottom: 1px solid #b3b3b3;
}

input.form-control:focus{
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.form-group{
position: relative;
margin-bottom: 2em;
}
.form-group input[type="text"] + label,
.form-group input[type="password"] + label{
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
  display: inline-block;
  height: 25px;
  transition: 0.3s all;
}


.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus{
  border-bottom-color:#5c77ff ;
}

.form-group input[type="text"]:focus + label,
.form-group input[type="password"]:focus + label,
.form-input input.ng-valid + label{
  top: -30px;
  font-size: 13px;
  color: #5c77ff;
  font-weight: 400;
}

input.ng-invalid.ng-touched{
  border-bottom-color: red;
}
input.ng-invalid.ng-touched + label{
  color: red !important;
}

input:disabled,input:disabled + label{
  color:rgba(0, 0, 0, 0.54);
  cursor: not-allowed;
}


.form-check {
  padding-left: 0;
}

.form-check input{
  display: none;
}
.form-check label{
  position: relative;
  width: 35px;
  height: 13px;
  border-radius: 9px;
  background-color: #ffffff;
  border: 1px solid #fab2ad;
  margin-right: 10px;
  cursor: pointer;
}

.form-check label::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f44336;
  border-radius: 100%;
  top:0;
  left: 0;
  bottom: 0;
  display: block;
  margin: auto;
  transition: 0.5s all;
}

.form-check input:checked + label{
  background-color: #fab2ad;
  border: 1px solid transparent;
}

.form-check input:checked + label::after{
  left: auto;
  right: 0;
}

.box-btn-form .btn{
  margin-left: 15px;
}


span.help-block {
  color: red;
}

/* orange body class color */

.orange-color .navbar-box .btn-primary {
  background-color: #ff5722 !important;
  border-color:  #ff5722 !important;
}


.orange-color .navbar-box .dropdown .btn-link {
  color: #ff5722 !important;
}

.orange-color .navbar-box .acc-btn span {
  background: rgba(255,87,34, 0.38) !important;
}

.orange-color .navbar-box .acc-lang-nav > ul > li{
  color: #ff5722;
  filter: none !important;
}

/* media style */
@media only screen and (max-width:992px){
  .content-body {
    width: 100%;
    margin-left: 0;
 }
}