<div class="pic-name-profile">
    <div class="pic-pr">
        <img src="./assets/img/3.jpg"/>
        <label for="uploadPic">
            <img src="./assets/img/camera.png"/>
            <input type="file" id="uploadPic">
        </label>
    </div>
    <h4>{{userName}}</h4>
</div>
