.pic-name-profile {
    display: flex;
}

.pic-pr{
    position: relative;
    width: 70px;
    height: 70px;
}
.pic-pr > img {
    width: 70px;
    border-radius: 100%;
    height: 70px;
}

.pic-pr label {
    width: 33px;
    height: 33px;
    display: block;
    position: absolute;
    right: -8px;
    bottom: -10px;
}
.pic-pr label img{
    width: 100%;
}

.pic-pr label input {
    display: none;
}


.pic-name-profile h4{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.19;
    padding: 10px 20px;
}