.acc-btn {
   color: rgba(0,0,0,0.87)
}
.acc-btn span{
    width: 30px;
    height: 30px;
    background: rgba(202,226,223,0.22);
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 5px;
}
.acc-btn span i{
    font-size: 25px;
    filter: invert(0.5) sepia(1)  saturate(1) hue-rotate(180deg);
}