<div class="container pt-4 pb-5">
    <app-profile></app-profile>
    <div class="row mt-4">
        <div class="col-md-3">
            <app-sidebar-account></app-sidebar-account>
        </div>
        <div class="col-md-9">
            <app-traiding></app-traiding>
        </div>
    </div>
</div>
