
.modal-box {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-box-content{
    width: 400px;
    min-height: 300px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #eeeeee;
    padding: 5em 2em;
}

@media only screen and (max-width: 567px){
    .modal-box-content{
        width: 100%;
    }
}