<div class="title-box">
  <h2>{{pageTitle}}</h2>
</div>
<div class="form-traiding-crud">

<div class="alert alert-primary" *ngIf="statusTraiding else warning">
 {{"FORM.TEXTSUCCES" | translate}}
</div>

<ng-template #warning>
  <div class="alert alert-warning" *ngIf="!statusTraiding">
    {{"FORM.TEXTDANGER" | translate}}
  </div>
</ng-template>




<div class="row justify-content-center pt-4">
  <div class="col-md-8">
    <form [formGroup]="traidingForm" (ngSubmit)="saveTraiding()">
        <div class="form-group form-input"
        [ngClass]="{'has-error': traidingForm.get('cabinNumber').errors &&
          traidingForm.get('cabinNumber').touched || traidingForm.get('cabinNumber').dirty}"
        >
          <input type="text" class="form-control" id="cabinNumber"
          name="cabinNumber"
          formControlName="cabinNumber"
          [attr.disabled]="!statusTraiding?'':null"
          >
          <label for="cabinNumber">{{"FORM.CABINNUMBRER" | translate}} *</label>
        </div>
        <div class="form-group form-input">
          <input type="text" class="form-control" id="traidingAccount" 
          name="traidingAccount"
          formControlName="traidingAccount"
          [attr.disabled]="!statusTraiding?'':null"
          >
          <label for="traidingAccount">{{"FORM.TRAIDINGACCOUNT" | translate}}*</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="publishedCheck"
          formControlName="published" [value]="published" [attr.disabled]="!statusTraiding?'':null">
          <label class="form-check-label" for="publishedCheck"></label>
          <span>{{"FORM.PUBLISHED" | translate}}</span>
        </div>

        <span class="help-block" *ngIf="!traidingForm.valid && traidingForm.touched">
          {{"FORM.ERRORTEXT" | translate}}
        </span>
        <div class="row justify-content-end box-btn-form">
          <button type="button" class="btn btn-light"
                      title="Cancel your edits"
                      [routerLink]="['/account/my-account']">{{"FORM.CANCEL" | translate}}</button>
          <span class="btn btn-orange" (click)="openDialog()">{{"FORM.SAVE" | translate}}</span>
        </div>

        <!-- modal accept data -->
          <div class="modal-box" *ngIf="showDialog">
             <div class="modal-box-content">
                <div class="alert alert-warning">{{"FORM.CONFIRMSAVETEXT" | translate}}</div>
                <div class="row justify-content-center mt-4 box-btn-form">
                  <span class="btn btn-light" (click)="openDialog()">{{"FORM.CANCEL" | translate}}</span>
                  <button type="submit" class="btn btn-orange" [disabled]="traidingForm.invalid">{{"FORM.ACCEPTSAVE" | translate}}</button>
                </div>
             </div>
          </div>

      </form>
  </div>
</div>
