<div class="card mt-5">
    <div class="card-header">
      {{"LOGIN" | translate}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="login(loginForm)"
            #loginForm="ngForm"
            autocomplete="off">
  
          <div class="form-group form-input">
              <input class="form-control"
              id="userNameId"
              type="text"
              required
              ngModel
              name="userName"
              #userNameVar="ngModel"
              [ngClass]="{'is-invalid': (userNameVar.touched || userNameVar.dirty) && !userNameVar.valid }" />
              <label for="userNameId">{{"USERNAME" | translate}} *</label>              
          </div>  
          <div class="form-group form-input">
              <input class="form-control"
              id="passwordId"
              type="password"
              required
              ngModel
              name="password"
              #passwordVar="ngModel"
              [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
              <label for="passwordId">{{"PASSWORD" | translate}} *</label>
          </div>  
          <div class="row mr-0 ml-0 justify-content-end">
              <button class="btn btn-orange mr-3"
                      type="submit"
                      [disabled]="!loginForm.valid">
                {{"LOGIN" | translate}}
              </button>
          </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>