<div class="traiding-box">
    <div class="traiding-title-add">
        <div class="row">
            <div class="col-6">
                <h2> {{"TRAIDING" | translate}}</h2>
            </div>
            <div class="col-6">
                <div class="link-add-traid">
                    <a routerLink='/account/new'>
                        <i class="material-icons-two-tone">add</i>
                        {{"ACCOUNT" | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <app-traiding-item></app-traiding-item>
</div>
