.traiding-box{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-radius: 5px;
    padding-bottom: 3em;
}


.traiding-title-add{
    border-bottom: 1px solid #f5f5f8;
    padding: 10px 23px;
}

.traiding-title-add h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

.link-add-traid{
    display: flex;
    justify-content: flex-end;
}

.link-add-traid a{
    width: 134px;
    height: 36px;
    background-color: #ff5722;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: #ffffff;
    padding-left: 15px;
    position: relative;
}

.link-add-traid a i{
    position: absolute;
    left: 14px;
    top: 0px;
    bottom: 0;
    margin: auto;
    display: block;
    width: 20px;
    height: 25px;
}