.item-traiding{
    border: solid 1px rgba(82, 63, 105, 0.06);
    background-color: #ffffff;
    margin-top: 20px;
    position: relative;
}
.item-traiding h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(82, 63, 105, 0.06);
}

.item-traiding h3 img {
    width: 30px;
    height: 30px;
    background: rgba(202,226,223,0.22);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
}

.item-traiding p{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
  padding: 15px;
  margin-bottom: 0;
}

.click-dropdown {
    display: block;
    width: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.click-dropdown img{
  width: 15px;
}

.click-dropdown + div{
    position: absolute;
    width: auto;
    background: #fff;
    box-shadow: 0 0 5px 0 #eee;
    right: 0;
    top: 30px;
}