<div class="row mr-0 ml-0">
   <div class="col-md-4 col-sm-6" *ngFor="let Traiding of ITraiding">
       <div class="item-traiding">
            <a class="click-dropdown" [routerLink]="['/account/' + Traiding.id +'/edit']">
                <img src="./assets/img/open-menu.svg">
            </a>
            <h3>
                <img src="./assets/img/account.svg" >
                {{Traiding.cabinNumber}}</h3>
            <p>{{Traiding.traidingAccount}}</p>
       </div>
   </div>
</div>
