.sidebar-acc{
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.sidebar-acc h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid #f5f5f8;
    padding: 18px 23px;
}

.sidebar-acc ul{
    padding-left:0;
 }
 

.sidebar-acc li{
   position: relative;
}

.sidebar-acc li a{
    padding: 14.5px 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: block;
 }

 .sidebar-acc li.active a,.sidebar-acc li:hover a{
    color: #ff5722;
 }

 .sidebar-acc li.drop-down a::after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-bottom-right-radius: 2px;
 }