<div class="sidebar-acc">
    <h2> {{"MYACCOUNT" | translate}}</h2>
    <ul>
        <li class="active drop-down">
            <a> {{"TRAIDING" | translate}}</a>
        </li>
        <li>
            <a> {{"EMONEY" | translate}}</a>
        </li>
    </ul>
</div>