<div class="dropdown dropdown-lang">
    <img class="btn btn-link dropdown-toggle" [src]="imgPath" appDropdown />

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="switchLanguage('en')"><img src="./assets/img/us-flag.svg"/>English</a>
        <a class="dropdown-item" (click)="switchLanguage('de')"><img src="./assets/img/de-flag.svg"/>German</a>
    </div>
</div>