.dropdown-lang .dropdown-toggle{
    padding:5px 0 0;
    width: 35px;
    height: 35px;
}

.dropdown-lang .dropdown-toggle::after{
    display: none;
}

.dropdown-lang .dropdown-toggle img{
    width: 80%;
}

.show {
    display: block;
  }
  